<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>LMS</title>
</head>
<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
          <%- include("header.ejs") %>
          <p class="py-2">Welcome to course Learning & management Application   </p>
          <p class="py-2">"Unlock Your Potential, Learn Without Limits: Your Journey to Knowledge Begins Here!"</p>
          <p class="py-2">Want to Explore ? <a href="/signup" class="colorred" >Sign-up now</a></p>
          <p class="py-2">Already have an account ? <a href="/login" class="colorred">Sign-in</a></p>
        </div>
    </div>
</body>
</html>